body, html {
    margin: 0;
    background-color: rgb(199, 223, 223);
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 300;
    height: 100%;
    width: 100%;
}

#main-container {
    display: inline-flex;
    flex-direction: column;
    width: 550px;
    height: 700px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER SPACE */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    border-radius: 6px 6px 0 0;
}

#header img {
    justify-self: end;
    width: 1rem;
    height: 1rem; 
}

/* MAIN SPACE */

#date-time {
    margin-top: 30px;
    text-align: center;
}

#time {
    color: #333;
    font-weight: 200;
    font-size: 70px;
    line-height: 70px;
    margin: 0;
}

#date {
    margin: 0;
    color: #333;
}

.list {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    gap: 20px;
}

.list .delete {
    margin-left: auto;
}

/* FOOTER SPACE */

#footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.padding {
    padding: 20px;
}

.icons {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

h1, h2 {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
}

h1 {
    color: #16db65;
}

h2 {
    color: #2196f3;
}
